extends layout

block content
  .w3-card-4
    h1 Welcome #{user.nickname}
    img(src=https://scontent.fmci2-1.fna.fbcdn.net/v/t39.30808-6/220266434_4121171577968850_200473742759428242_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=axJUOJ3hSkQAX87g3vi&_nc_ht=scontent.fmci2-1.fna&oh=00_AT-CYlukiJNuU75IZ7MWhja4XAsO-LSxv7NsUdm_G2WA0Q&oe=62001B07)
    h2 User profile
    p This is the content of <code>req.user</code>.
    p Note: <code>_raw</code> and <code>_json</code> properties have been ommited.
    pre
      code #{userProfile}
